/* RESET E CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%; /* VAI COBRIR TODA A TELA */
}

.container-mobile {
    width: 100%;
    padding: 18px 14px;
    overflow-x: hidden;
    max-width: 100vw;
    
    /*  Garante que filhos respeitem limites */
    box-sizing: border-box;
}

body {
    background: #021428;
    background: linear-gradient(to bottom,rgba(2, 20, 40, 1) 10%, rgba(15, 23, 42, 1) 50%, rgba(30, 27, 75, 1) 90%);
    background-attachment: fixed;
    
    /*  Bloqueia scroll lateral */
    overflow-x: hidden;
    width: 100%;
    position: relative;
}