:root .lighttema{
    --bg-tema: white;
}

:root .darktema{
    --bg-tema: linear-gradient(to bottom,#020617,#0d162a,#111827);
}


/* RESET E CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%; /* VAI COBRIR TODA A TELA */
}

.container-mobile {
    width: 100%;
    padding: 18px 14px;
    overflow-x: hidden;
    max-width: 100vw;
    
    /*  Garante que filhos respeitem limites */
    box-sizing: border-box;

    padding-bottom: 100px;
}

body {
    background: var(--background-tema-escuro);
    

    background-attachment: fixed;
    
    /*  Bloqueia scroll lateral */
    overflow-x: hidden;
    width: 100%;
    position: relative;
}